{% extends 'base.html.twig' %}

{% block title %} Education {% endblock %}
{% block body %}
<div class="container-fluid">
        <h1 class="text-center my-4">Mes formations</h1>
        <div class="row justify-content-center">
            {% for education in educations %}
                <div class="card mb-5 ml-4 align-items-center" style="width: 15rem;">
                    <img src="uploads/{{ education.image }}"
                         class="card-img-top img-fluid"
                         alt="{{ education.title }}"
                         style="width: 14rem;">
                    <div class="card-body">
                        <h2 class="card-title">{{ education.title }}</h2>
                        <p>{{education.startedAt|date("m/Y") }} - {{education.endedAt |date("m/Y") }}</p>
                    </div>
                </div>
            {% else %}
                Aucune formation trouvée
            {% endfor %}
        </div>
    </div>
{% endblock %}
