<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>
            {% if data.type == 'partner' %}
                Demande de Partenariat
            {% elseif data.type == 'contact' %}
                Demande d'Informations
            {% else %}
                Demande de Devis
            {% endif %}
        </title>
    </head>

    <body>
    {% if data.type == 'contact' %}
        <h1>Message</h1>
        <ul>
            <li>Date de réception de la demande : {{ data.submitDate|date('d/m/Y') }}</li><br>
            <li>Nom : {{ data.fullName }}</li><br>
            <li>E-mail : {{ data.email }}</li><br>
            <li>Téléphone : 
                {% if data.telephone is not empty %}
                    {{ data.telephone }}
                {% else %}
                    Non renseigné
                {% endif %}</li><br>
            <li>Objet de la demande : {{ data.subject }}</li><br>
            <li>Message : {{ data.message }}</li><br>
        </ul>
    {% endif %}

    </body>

</html>
